div.social {
	text-align: right;
	margin-right: 10px;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: right;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
html {
width: auto;
}
img.team {
	margin-top: -20px;
	margin-bottom: 20px;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

 .affix {
      top: -2px;
      width: 100%;
      -webkit-transition: all 0.50s ease-in-out;
      transition: all 0.50s ease-in-out;
      background-color: #f3f3f3;
      z-index: 99;
  } 

  .icon-bar {
      background-color: black;      
  }


  .container-fluid bg-grey {
	background-color: grey;
  }

table.contact {
	padding-right: 50px;
	padding-bottom: -25px;
	margin-top: 50px;
	border-spacing: 8px;
	color: black;;

}

table {
	text-align: center;
}
div.maybe {
	margin-top: 25px;
}
c:hover  {

	text-decoration: underline;

}

h1 {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	weight: bold;
	background-color: grey;
	opacity: 1.0;
	height: 60px;
	align: center;
	margin-top: -19px;
	font-size: 8.0vw;

}	
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      background-color: black;
  }
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    z-index: 0;
    font-family: Montserrat, sans-serif;
    background-color: black;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
}

.navbar {
    font-family: Montserrat, sans-serif;
    z-index: 99;
}

div.members {
	text-align: center;
	font-family: Montserrat, sans-serif;
        z-index: 99;
  .affix-top {
      position: static;
      top: -35px;
      -webkit-transition: all 1.0s ease-in-out;
      transition: all -1.0s ease-in-out;
      width: 100%;
      z-index: 99;
  }
  .affix + .container-fluid {
      -webkit-transition: all 0.80s ease-in-out;
      transition: all 0.80s ease-in-out;
      padding-top: 30px;
      width: 100%;
      z-index: 99;
  }
}
h2.contactus1 {

	font-family: arial, sans-serif;
	text-align: left;
	color: white;

}
h2.contactus2 {
	
        font-family: Montserrat, sans-serif;
	/*padding-left: 500px;*/
	text-align: center;
	color: white;
}
	
h3 {    
	font-family: Montserrat, sans-serif, mono-space;
	text-align: center;
	padding: 50px;
	font-size: 3.0vh;
	margin-top: auto;
	color: grey;
	background-color: white;
	margin-top: -22.5px;
	
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


a {
	text-decoration: none;
}
b {
	text-decoration: none;
}
    <style type="text/css">
        @media only screen and (min-width:600px) {
            .hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
                display: none;
                max-height: 0;
                overflow: hidden;
            }
	}

hr.vertical
{
   width: 0px;
   height: 3px;
}
p {
	z-index: -1;
}
c:hover {
	opacity: 0.8;
	color: "white";
	text-decoration: none;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #4CAF50;
}